<h1>Mongo-Scraper</h1>

<ul>
  {{#each article }}
  <li>
    <h4>{{ this.title }}</h4>
    <p><a href="http://www.thrashermagazine.com/{{ this.link}}" target="_blank">http://www.thrashermagazine.com/{{ this.link}}</a></p>
 </li>
  {{/each}}
</ul>